footer.woz{

  border-top: thin solid #b3aaa9;
    color: $text-color;
  min-height: 300px;
  margin-top: 1.0em;
  padding-top: 3.0em;
  padding-bottom: 5.0em;
  background: white;
  a, a:link, a:visited{
    color: $stanford-red;
  }

  h5{ margin-bottom: 0.1em;}
  ul li{
    line-height: 1.3em;
    font-size: 1.0em;
  }

}
