body{

}

header.woz{
  border-bottom: thin solid $brand-primary;

  .navbar{
    font-size: 14px;
    line-height: 1.0em;
    margin-bottom: 16px;
    margin-top: 16px;
  }

  .submenus{

    li{
        text-transform: uppercase;
        a:link, a:visited {
          color: $text-color;
        }
    }
  }

  @media (max-width: $screen-xs-max) {
    .navbar.navbar-fixed-top{
      position: relative;
    }
  }
}
