body.woz{
  color: $text-color;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: 1.65em;
  letter-spacing: 0.02rem;
  padding-top: 50px;
  position: relative;
  height: 100%;
  code{
    color: black;
  }
}

div.imgwrap{
  img{
    width: 100%;
  }
}


h1,h2,h3{
  font-weight: bold;
}
