.visualizations{
  .square{
    height: 250px;
    overflow: hidden;
    float: left;
    border: thin solid #aaa;
    img{
      height: 250px;
    }

    &:hover{
      outline: #aa4444 solid 3px;
    }

  }

}
