---
title: About
description: About this site
---

div id="about-page"


  section.sec.banner
    div.container
      h1.title About
      p A "database of databases" to mine transportation data

    div style="clear:both;"

  section.sec.categories
    div.container
      h3 What is this site for?
      p  We've nicknamed this site the "database of databases," because we've hand-curated public datasets of transportation data from across the United States. We hope this site serves as a story idea generator and jumping off point for your newsroom projects.

      h3 Who are we?
      p This site is brought to you by the Stanford Journalism Program's Computational Journalism Lab, the Revs Program at Stanford and CARS, The Center for Automotive Research at Stanford.
      h4 About Stanford Journalism

      p The <a href="http://journalism.stanford.edu" target="_blank">Stanford Journalism Program's</a> new Stanford Computational Journalism Lab is focused on developing tools that will help lower the costs for journalists to discover stories.
      <a href="https://twitter.com/StanfordJourn" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @StanfordJourn</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      h4 About Revs Program at Stanford
      p The <a href="http://revs.stanford.edu/" target="_blank">Revs Program at Stanford</a> is focused on forging new scholarship and student experiences around the past, present and future of the automobile.
      <a href="https://twitter.com/StanfordRevs" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @StanfordRevs</a>
      <div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>

      h4 About CARS
      p The <a href="http://cars.stanford.edu/" target="_blank">Center for Automotive Research at Stanford</a> links industry and academia around the future of the automobile and personal mobility.

      h3 Credits
      h4 <strong>Database by</strong>
        <ul>
            <li><a href="http://stanford.edu/~dun/" target="_blank">Dan Nguyen</a>, Stanford Journalism Hearst Professional In Residence </li>
            with
            <li>Peter Johnson, Stanford Communication BA '15</li>
            <li>Vignesh Ramachandran, Stanford Journalism Program Administrator</li>
        </ul>
      h4 <strong>Tableau visualizations by</strong>
        <ul>
          <li>Dash Davidson, Tableau</li>
          with
          <li><a href="http://comm.stanford.edu/faculty-phillips/" target="_blank">Cheryl Phillips</a>, Stanford Journalism Hearst Professional In Residence</li>
        </ul>
      h4 <strong>Special thanks to</strong>
        <ul>
          <li>Ben Jones, Tableau</li>
          <li>Jay Hamilton, Stanford Journalism Program Director</li>
          <li>Reilly P. Brennan, Revs Program at Stanford Executive Director</li>
          <li>Adele Tanaka, Revs Program at Stanford Program Manager</li>
        </ul>


