---
title: About
description: About this site
---

div id="about-page"


  section.sec.banner
    div.container
      h1.title About
      p A "database of databases" to mine transportation data

    div style="clear:both;"

  section.sec.categories
    div.container
      h3 How to use this site
      p  We've nicknamed this site the "database of databases," because we've hand-curated public datasets of transportation data from across the United States. We hope you use our database as a story idea generator and jumping off point for your newsroom projects.

      p This site was unveiled on Feb. 13, 2015, as part of our conference, <a href="http://journalism.stanford.edu/datadriven-conf/" target="_blank">"Data Driven: Coding and Writing Transportation's Future."</a>

      h3 Who we are
      p This site is brought to you by the Stanford Journalism Program's Computational Journalism Lab, the Revs Program at Stanford and CARS, The Center for Automotive Research at Stanford.
      
      h4 About Stanford Journalism

      p The data-focused  <a href="http://journalism.stanford.edu" target="_blank">Stanford Journalism Program's</a> new Stanford Computational Journalism Lab is focused on developing tools that will help lower the costs for journalists to discover stories.
      <div>
          <a href="https://twitter.com/StanfordJourn" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @StanfordJourn</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
	
      h4 About Revs Program at Stanford
      p The <a href="http://revs.stanford.edu/" target="_blank">Revs Program at Stanford</a> is focused on forging new scholarship and student experiences around the past, present and future of the automobile.
      <div>
        <a href="https://twitter.com/StanfordRevs" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @StanfordRevs</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>

      h4 About CARS
      p The <a href="http://cars.stanford.edu/" target="_blank">Center for Automotive Research at Stanford</a> links industry and academia around the future of the automobile and personal mobility.

      h3 Credits
      <h4>Database by</h4>
        <ul>
        <li><a href="http://stanford.edu/~dun/" target="_blank">Dan Nguyen</a>, Stanford Journalism Hearst Professional In Residence</li>
        <li>Peter Johnson, Stanford Communication BA '15</li>
        <li>Vignesh Ramachandran, Stanford Journalism Program Administrator</li>
        </ul>

      <h4>Tableau visualizations by</h4>
      <ul>
        <li>Dash Davidson, Tableau</li>
        <li><a href="http://comm.stanford.edu/faculty-phillips/" target="_blank">Cheryl Phillips</a>, Stanford Journalism Hearst Professional In Residence</li>
      </ul>

      <h4>Special thanks to</h4>
      <ul>
          <li>Ben Jones, Tableau</li>
          <li><a href="http://comm.stanford.edu/faculty-hamilton/" "target="_blank">James T. Hamilton</a>, Stanford Journalism Program Director</li>
          <li><a href="http://revs.stanford.edu/about/people" "target="_blank">Reilly P. Brennan</a>, Revs Program at Stanford Executive Director</li>
          <li>Adele Tanaka, Revs Program at Stanford Program Manager</li>
      </ul>

