<center><h2>About this site</h2></center>

<h3>Welcome</h3>
<p>We want to help you tell stories and mine transportation data. We've nicknamed this site
the "database of databases" as we've hand-curated the best transportation data out there
from sources across the United States. Blah blah blah blah.</p>




<h3>About Stanford Journalism</h3>



<h3>About Revs Program at Stanford</h3>
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/StanfordJourn/lists/data-driven-conference" data-widget-id="564953743846670336">Tweets from https://twitter.com/StanfordJourn/lists/data-driven-conference</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
<h3>Database created by</h3>
Dan Nguyen, Stanford Journalism Hearst Professional In Residence
with
Peter Johnson, Stanford Communication BA 2015
Vignesh Ramachandran, Stanford Journalism Program Administrator

<h3>Tableau visualizations by</h3>
Dash Davidson, Tableau
with
Cheryl Phillips, Stanford Journalism Hearst Professional In Residence
